html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.products-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

/* App.css */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.league-spartan {
    font-family: 'League Spartan', sans-serif;
    font-optical-sizing: auto;
}
